body{
    margin: 0;
}

.navigationbar{
    padding: 16px;
    background-color: lightseagreen;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container{
    display: flex;
    align-items: center;
}

#search {
    background-color: transparent;
    border: 2px solid #00373b;
    border-radius: 7px;
    outline: none;
    padding: 6px 10px;
}


.nav-items {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.links li:not(:last-child) {
    margin-right: 16px;
}

.logo-container {
    display: flex;
    align-items: center;
}

#logo {
    width: 80px;
    margin-right: 20px;
}

.auth {
    float: right;
}

ul.nav-items li {
    display: inline;
}

.btn-primary{
    background-color: #00d1a6;
    color: white;
    padding: 6px 10px;
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all .3s;
}

.btn-primary:hover{
    background-color: rgb(5, 131, 47);
    border: 1px solid black;
}

.companyTitle{
    position: relative;
    color: rgb(0, 75, 41);
    animation-name: zoomIn;
    animation-duration: 2s;
    animation-delay: 2s;
    text-align: center;
    animation-fill-mode: backwards;
}

@keyframes zoomIn {
    0% {
        transform: scale(1, 1);
        opacity: 0;
        display: none;
    }
    50% {
        transform: scale(2, 2);
        opacity: 1;
    }
    100%{
        transform: scale(1, 1);
        opacity: 1;
    }
}

#header{
    animation: fadeIn linear 2s;
}

@keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.buttonMid{
    left: 50%;
    top: 50%;
    animation-name: buttonMove;
    animation-duration: 2s;
    animation-delay: 4s;
    animation-fill-mode: both;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: transparent;
    color: darkgoldenrod;
    animation-timing-function: linear;
    padding: 15px;
    border: solid 1px black;
}

@keyframes buttonMove{
    0% {
        transform: translate(-70%, -70%);
        opacity: 0;
    }
    100%{
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

