body{
    margin: 0;
}

.navigationbar{
    padding: 16px;
    background-color: lightseagreen;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container{
    display: flex;
    align-items: center;
}

#search {
    background-color: transparent;
    border: 2px solid #00373b;
    border-radius: 7px;
    outline: none;
    padding: 6px 10px;
}


.nav-items {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.links li:not(:last-child) {
    margin-right: 16px;
}

.logo-container {
    display: flex;
    align-items: center;
}

#logo {
    width: 80px;
    margin-right: 20px;
}

.auth {
    float: right;
}

ul.nav-items li {
    display: inline;
}

.btn-primary{
    background-color: #00d1a6;
    color: white;
    padding: 6px 10px;
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all .3s;
}

.btn-primary:hover{
    background-color: rgb(5, 131, 47);
    border: 1px solid black;
}

.slider{
    height: 60vh;
}

.slider img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#img{
    opacity: .6;
    transition: all .3s;
}

#img:hover{
    opacity: 2;
}

.slider-promobutton{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: 1px solid white;
    padding: 10px 20px;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: all .5s;
    transition-timing-function: linear;
}

.slider-promobutton:hover{
    backdrop-filter: blur(10px);
}

#slider{
    position: relative;
}

.promotedProductsTitle{
    text-align: center;
}

.promotedProduct {
    flex: 1;
    margin-right: 15px;
    box-shadow: 0px 5px 5px rgb(203 203 203 / 60%);
    cursor: pointer;
    transition: box-shadow .3s;
}

.promotedProduct img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

#promotedProducts {
    display: flex;
    margin-top: 20px;
    margin-bottom: 100px;
    margin-left: 8px;
    margin-right: 8px;

}

.promotedProduct:last-child {
    margin-right: 0;
}

.promotedProduct:hover {
    box-shadow: 0px 5px 5px rgb(147 147 147 / 60%);
}

.product-desc {
    padding: 20px;
}

.product-quantity {
    outline: none;
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid gainsboro;
    margin-right: 10px;
}

.product-quantity:focus {
    border: 1.5px solid rgb(190, 189, 189);
}

.product-quantity:hover{
    border: 1px solid black
}

.product-inputs-container {
    display: flex;
    align-items: center;
}

